@charset "utf-8";
#wrap{
	overflow: hidden;
	width: 100%;
	height: auto;
	min-width: 1250px;
}
#wrap .bg-wrap{
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 950px;
	background: url("../images/bg-1.png") no-repeat center/100% 100%;
}
#wrap .control{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background-color: transparent;
	user-select: none;
}
#wrap .control.on{
	display: block;
}
/* 头部区域 */
#wrap #header{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	min-width: 1250px;
	width: 100%;
	height: 70px;
	background-color: rgba(45,49,61,.7);
}
#wrap #header .header-content{
	position: relative;
	width: 1250px;
	height: 100%;
	margin: 0 auto;
}
#header .header-content p{
	position: absolute;
	top: 0px;
	right: 78%;
	width: 20%;
	height: 100%;
	line-height: 70px;
	color: #fff;
	font-size: 22px;
}
#header .header-content .title{
	position: absolute;
	top: 7px;
    right: 1.5%;
	width: 20%;
	height: 100%;
}
.header-content .title ul{
	-webkit-display: flex;
	-moz-display: flex;
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: space-around;
	text-align: center;
	line-height: 40px;
}
.header-content .title ul li{
	margin-left: 10px;
	width: 50%;
	height: 78%;
	line-height: 56px;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	letter-spacing: 2px;
	cursor: pointer;
	-ms-transition: .3s;
	-moz-transition: .3s;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}
.header-content .title ul li:hover{
	-webkit-box-shadow: 0 0 20px 1px rgba(0, 0, 0, .3) inset;
	-moz-box-shadow: 0 0 20px 1px rgba(0, 0, 0, .3) inset;
	box-shadow: 0 0 20px 1px rgba(0, 0, 0, .3) inset;
}
.header-content .title ul li:nth-child(1){
	background:url("../images/login.png") no-repeat center/100% 100%;
}
.header-content .title ul li:nth-child(2){
	background:url("../images/user.png") no-repeat center/100% 100%;
}
/* 头部区域结束 */
/* 主体区域 */
#wrap #main{
	overflow: hidden;
	width: 100%;
}
#wrap #main .main-content{
	width: 1250px;
	margin: 0 auto;
}
.word{
	position: relative;
	width: 1250px;
	height: 350px;
	margin: auto;
	background:url("../images/rotate.png") no-repeat center/100% 100%;
}
.word .w-wrap{
	position: absolute;
	left: 0px;
	right: 0px;
	margin: auto;
	top: 0px;
	z-index: -1;
	width: 1250px;
	height: 350px;
	background:url("../images/bg-2.png") no-repeat center/cover ;
}
#main .main-content .turntable{
	width: 100%;
	padding-bottom: 40px;
	background:url("../images/bg-2.png") no-repeat center/cover;
}
.main-content .turntable .turntable-top{
	-webkit-display: flex;
	-moz-display: flex;
	display: flex;
	width: 100%;
	height: 100px;
	justify-content: space-between;
}
.main-content .turntable .info{
	width: 400px;
	height: 84px;
	margin-top: 20px;
	margin-left: 15.5%;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background:url("../images/kechoujiang.png") no-repeat center/100% 100% ;
}
.main-content .turntable .info p{
	width:50%;
	height: 84px;
	line-height:60px;
	font-size: 18px;
	text-indent: 20px;
	color: #000;
	font-weight: bold;
}
.main-content .turntable .info p:nth-child(1){
	text-indent: 40px;
}
.main-content .turntable .info span{
	font-size:18px;
	margin-left: 20px;
	font-weight: normal;
	color: ;
}
.main-content .turntable .turn-wrap{
	width: 50%;
	height: 100%;
	font-size: 30px;
	line-height: 60px;
	text-align: center;
	cursor: pointer;
}
.main-content .turntable .turn{
	background-color: blue;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}
.main-content .turntable .palace{
	border-bottom: 1px solid #000;
}
.main-content .turntable .table-main{
	position: relative;
}
.main-content .turntable .table-main .turn-main{
	display: flex;
	width: 100%;
	justify-content: space-between;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 50px;
	text-align: center;
}
.turntable .table-main .table{
	width: 42%;
	height: 80%;
	margin-left: 10%;
}
.table-main .table .turntable-bg{
	position: relative;
	width: 70%;
	height: 100%;
}
.table-main .table .turntable-bg>img{
	width: 100%;
	height: 100%;
}
.table .turntable-bg .rotate{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 80%;
	height: 80%;
}
.turntable .table-main .record{
	position: relative;
	width: 28%;
	height: 550px;
}
.main-content .turntable .turntable-bot{
	width: 100%;
	margin-top: 50px;
}
.turntable .turntable-bot .rule{
	width: 90%;
	margin: 20px auto 0;
	padding:10px 20px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: url("../images/rule.png") no-repeat center/100% 100%;
}
.turntable-bot .rule p{
	font-size: 20px;
	font-weight: bold;
	color: #1d2a56;

}
.turntable-bot .rule p ~ p{
	font-size: 14px;
	font-weight: normal;
	color: #1d2a56;
	text-indent: 30px;
	line-height: 30px;
}
/* 主体区域结束 */
/* 弹出登录界面 */
.login-hidden{
	display: none;
	position: fixed;
	top: 30%;
	left: 30%;
	z-index: 11;
	width: 600px;
	height: 350px;
	padding:30px 70px;
	background:url("../images/login-bg.png") no-repeat center/100% 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.login-hidden form{
	position: relative;
	width: 100%;
	height: 100%;
}
.login-hidden.on{
	display: block;
}
.login-hidden div{
	position: relative;
	margin:10px 0 30px 30px;
}
.login-hidden div>.iconfont{
	display: inline-block;
	position: absolute;
	top:4px;
	left: 120px;
	font-size: 20px;
	vertical-align: middle;
}
#login div>i{
	font-size: 20px;
}
.login-hidden div>.icon-zhanghao1{
	top:4px;
}
.login-hidden div>.iconfont.on{
	color: #299999;
}
.login-hidden div .zhanghao{
	background: url("../images/zhanghao.png") no-repeat center/90% 90%;
}
.login-hidden div .mima{
	background: url("../images/psw.png") no-repeat center/90% 90%;
}
/* .login-hidden div .yanzhengma{
	background: url("../images/yanzhengma.png") no-repeat center/90% 90%;
} */
.login-hidden span{
	margin-left: 10px;
	margin-top: -10px;
	font-size: 22px;
	color: rgba(0, 0, 0, .6);
	vertical-align: middle;
}
.login-hidden .number,.login-hidden .pwd{
	letter-spacing: 11px;
}
.login-hidden div>input{
	width: 220px;
	margin-top: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	vertical-align: middle;
	font-size: 16px;
	line-height: 26px;
	outline: none;
	border: 1px solid #ccc;
	text-indent: 30px;
}
.login-hidden div>input:focus{
	border-color: #299999;
}
#login button{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 60px;
	width: 350px;
	height: 40px;
	margin: auto;
	background-color: #299999;
	border: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-size: 20px;
	color: #fff;
	line-height: 40px;
	text-align: center;
	letter-spacing: 20px;
	outline: none;
	cursor: pointer;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	-ms-transition: .3s;
	transition: .3s;
}
#login button:hover{
	-webkit-box-shadow: 0 0 20px 1px rgba(0, 0, 0, .3) inset;
	-moz-box-shadow: 0 0 20px 1px rgba(0, 0, 0, .3) inset;
	box-shadow: 0 0 20px 1px rgba(0, 0, 0, .3) inset;
}
#login .none{
	position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 40px;
    height: 20px;
    background: url(/desktop/images/login-close1.png) no-repeat center/cover;
    transition: .3s ;
}
#login .none:hover{
	background-image: url(/desktop/images/login-close2.png);
}
/* 弹出登录界面结束 */
/* 宫格转盘 */
table { border-spacing: 0; border-collapse: collapse; text-align: center; }
.draw { width: 460px; height: 470px; margin: 0 auto; padding: 40px;background: url("../images/bg.png") no-repeat center/100% 100%;}
.draw .item { width: 150px; height: 150px; background: url("../images/bg1.png") no-repeat; }
.draw .item.active { background-image: url("../images/bg2.png"); }
.draw .img { display: table-cell; width: 150px; height: 61px; vertical-align: middle; text-align: center; }
.draw .img img { vertical-align: top; }
.draw .gap { width: 5px; }
.draw .gap-2 { height: 5px; }
.draw .name { display: block; margin-top: 10px; font-size: 14px; }
.draw .draw-btn { display: block; height: 150px; line-height: 150px; border-radius: 20px; font-size: 25px; font-weight: 700; color: #f0ff00; background-color: #2d313d; text-decoration: none; -webkit-transition: .1s;-moz-transition: .1s;-o-transition: .1s;-ms-transition: .1s;transition: .1s;}
.draw .draw-btn:hover { background-color: #2d313d; box-shadow: 0 0 20px 1px rgba(255,255,255,.6) inset;font-size: 24px;}
/* 宫格转盘结束 */
/* 宫格中奖名单 */
.bcon{ width:100%; height:97%;-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;background: url("../images/zhongjiangjilu.png") no-repeat center/420px 530px;}
.bcon h1{  padding:0 10px; font-size: 30px;}
.bcon h1 b{ font:bold 14px/40px '宋体'; padding:0 20px; margin-top:-1px; display:inline-block;color: #000;font-size: 30px;}
.list_lh{ height:100%; margin-top:70px;height:444px;overflow:hidden;}
.list_lh li{ padding:10px;}
.list_lh li p{ height:24px; line-height:24px;margin-left:15px; font-size: 20px;}
.list_lh li p a{ float:left;}
.list_lh li p em{ width:80px; font:normal 12px/24px Arial; color:#FF3300; float:right; display:inline-block;}
.list_lh li p span{ color:#999; float:right;}
.list_lh li p a.btn_lh{ background:#28BD19; height:17px; line-height:17px; color:#000; padding:0 5px; margin-top:4px; display:inline-block; float:right;}
.btn_lh:hover{ color:#fff; text-decoration:none;}
/* 宫格中奖名单结束 */